<!--
<div appDirective >
  nitesh
</div>

<br>

<h2 BasicDirective>Rani mishra bajpayee</h2>

<br>

<h1 hostDirective>
  This is hostlistner for you !!!!
</h1>

<br>

<h1 bindDirective>
  This is hostbinding for you !!!!
</h1>

<div *ngIf="odd"
 class="list group item">
 <li *ngFor="let number of numbers">

{{number}}
   
 </li>


</div>
-->
<select
appDropdown>
    <option value="volvo" >Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>
<br>
<br>
  <div>
      <button type="button" class="btn btn-primary" (click)="onClick()" ngModel>append</button>
     
  </div>
